<div class="row">
<div class="col-sm-5 col-md-offset-2">
  <!--h1>Hi {{currentUser.username}}!</h1-->
  <h1>All Registered Players: </h1></div>
<div class="col-sm-3 col-md-offset-2">
  <br>
  <a [routerLink]="['/create-profile']" class="btn btn-info" *ngIf="isLogin && !isCreated" >Create Profile</a>
  <!--a [routerLink]="['/create-profile']" class="btn btn-info" *ngIf="isCreated">View My Profile</a-->
</div>
</div>
<br>
<hr>
<div class="row">
  <div class="col-sm-5 col-md-offset-1">
    <ul class="list-group">
      <li class="list-group-item list-group-item-warning" *ngFor="let profile of profiles" (click)="onSelect(profile)"
          [class.selected]="profile === selectedProfile">
        <!--span class="badge">{{profile.username}}</span>
        <span>{{profile.platform}}</span-->
        <div  class="list-group-item-text" style="display: inline-block;">user: {{profile.username}}</div>
      </li>
    </ul>
  </div>
  <div *ngIf="selectedProfile">
    <div class = "row">
    <div class="col-sm-4">
      <h3>{{selectedProfile.username | uppercase}}</h3>
      <div><label>name:</label>{{selectedProfile.username}}</div>
      <div><label>email:</label>{{selectedProfile.email}}</div>
      <div><label>age:</label>{{selectedProfile.age}}</div>
      <div><label>gender:</label>{{selectedProfile.gender}}</div>
      <div class="disp-image">
        <img src="{{selectedProfile.image}}" /></div>
    </div></div>
  </div>
</div>

