<div class="row">
<div class="col-sm-5 col-md-offset-2">
  <h1>Hi {{currentUser.username}}!</h1>
  <h3>You're logged in Multiplayer Matchups!</h3></div>
<div class="col-sm-3 col-md-offset-2">
  <br>
  <a [routerLink]="['/login']" class="btn btn-default">Logout</a>
  <a [routerLink]="['/createprofile']" class="btn btn-info" *ngIf="!isCreated" >Create Profile</a>
  <a [routerLink]="['/createprofile']" class="btn btn-info" *ngIf="isCreated">View My Profile</a>
</div>
</div>
<div class="text-center"><hr><h3>All Registered Players:</h3></div>
<div class="row">
  <div class="col-sm-5 col-md-offset-1">

    <ul class="heroes">
      <li *ngFor="let profile of profiles" (click)="onSelect(profile)"
          [class.selected]="profile === selectedProfile">
        <span class="badge">{{profile.gender}}</span>
        <span>{{profile.name}}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="selectedProfile">
    <div class = "row">
    <div class="col-sm-4">
      <h3>{{selectedProfile.username | uppercase}}</h3>
      <div><label>name:</label>{{selectedProfile.username}}</div>
      <div><label>email:</label>{{selectedProfile.email}}</div>
      <div><label>age:</label>{{selectedProfile.age}}</div>
      <div><label>gender:</label>{{selectedProfile.gender}}</div>
    </div>
    <div class="col-sm-4">
      <div id="disp-image"><img id="profile-image" src="{{selectedProfile.image}}" style="width:200px;height:225px;"></div>
    </div></div>
  </div>
</div>
