<div class="container">
  <h1>Supported Games</h1>
</div>
<hr>

<div class="row container">
  <a href="#" [routerLink]="['/games',1]">
    <div class="col-sm-4 col-sm-offset-2">
      <img src="http://i1.2pcdn.com/node14/image/article/201503/13/20150313020809a0e1jzsc8j72jbja.jpg"
           class="img-responsive" style="width:100%" alt="Image">
      <label>Destiny&emsp;&emsp;</label><span class="glyphicon glyphicon-user"></span>
      <label>{{interestedPlayersCount[0]}}</label>
      <p class="small">Platform: XB1&emsp;XBox&emsp;PS4&emsp;PS3</p>
      <p class="small">Character: Hunter&emsp;Warlock&emsp;Titan</p>
    </div>
  </a>
  <a href="#" [routerLink]="['/games',2]">
    <div class="col-sm-4 col-sm-offset-1">
      <img src="https://blzmedia-a.akamaihd.net/d3/media/wallpapers/wallpaper033/wallpaper033-1920x1080.jpg"
           class="img-responsive" style="width:100%" alt="Image">
      <label>Diablo 3&emsp;&emsp;</label><span class="glyphicon glyphicon-user"></span>
      <label>{{interestedPlayersCount[1]}}</label>
      <p class="small">Platform: XB1&emsp;XBox&emsp;PS4&emsp;PS3</p>
      <p class="small">Character: Barbarian&emsp;Crusader&emsp;Demon Hunter</p>
      <p class="small">Monk&emsp;Witch Doctor&emsp;Wizard</p>
    </div>
  </a>
</div>
<br>
<div class="row container">
  <a href="#" [routerLink]="['/games',3]">
    <div class="col-sm-4 col-sm-offset-2">
      <img src="https://fthmb.tqn.com/CzBEsMzHMnPLf4mIM3D25h_MVWU=/768x0/filters:no_upscale()/about/Left-4-Dead-2-Cheats-57c3d9613df78cc16e14291c.jpg"
           class="img-responsive" style="width:100%" alt="Image">
      <label>Left 4 Dead 2&emsp;&emsp;</label><span class="glyphicon glyphicon-user"></span>
      <label>{{interestedPlayersCount[2]}}</label>
      <p class="small">Platform: XBox&emsp;PC</p>
      <p class="small">Character: Coach&emsp;Rochelle&emsp;Nick&emsp;Ellis</p>
    </div>
  </a>
  <a href="#" [routerLink]="['/games',4]">
    <div class="col-sm-4 col-sm-offset-1">
      <img src="https://i.ytimg.com/vi/B7Y3DKLUqAQ/maxresdefault.jpg"
           class="img-responsive" style="width:100%" alt="Image">
      <label>CoD - Black Ops II&emsp;&emsp;</label><span class="glyphicon glyphicon-user"></span>
      <label>{{interestedPlayersCount[3]}}</label>
      <p class="small">Platform: XB1&emsp;XBox&emsp;PS4&emsp;PS3&emsp;PC</p>
      <p class="small">Character: Alex Mason&emsp;Frank Woods</p>
    </div>
  </a>
</div>
<br><br>


