<div class="jumbotron text-center">
  <h1>{{ title }}</h1>
</div>
<div class="container">
  <h3>Purpose: {{purpose}}</h3>
  <hr>
  <h3 style="display:inline">Players Count: </h3>
  <h1 style="display:inline">{{playersCount}}</h1>
</div>
<hr>

<div class="row text-center container">
  <div class="col-sm-4">
    <img src="https://i.ytimg.com/vi/B7Y3DKLUqAQ/maxresdefault.jpg"
         class="img-responsive" style="width:100%" alt="Image">
      <p>AD Position#1</p>
  </div>
  <div class="col-sm-4">
    <img src="https://media.playstation.com/is/image/SCEA/tom-clancys-the-division-listing-thumb-01-ps4-us-02aug16?$Icon$"
         class="img-responsive" style="width:100%" alt="Image">
    <p>AD Position#2</p>
  </div>
  <div class="col-sm-4">
    <img src="https://media.playstation.com/is/image/SCEA/fifa-17-standard-edition-two-column-01-ps4-us-03jun16?$MediaCarousel_Original$"
         class="img-responsive" style="width:100%" alt="Image">
    <p>AD Position#3</p>
  </div>
</div>

